body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 10px 40px 50px 40px;
    border-bottom: 7px solid #E73446;
    min-height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
}

.logo {
    height: 60px;
}

.page-title {
    font-weight: 400;
    margin: 30px 0 15px;
    font-size: 1.5em;
}

.page-subtitle {
    font-size: .9em;
    margin: 0 0 60px;
}

.form-container {
    margin: 50px 0 0;
}

.question-box {
    margin: 0 0 20px
}

.question-label {
    display: block;
    font-weight: 700;
    font-size: .8em;
    margin: 0 0 10px;
}

.required {
    color: #E73446;
}

.question-description {
    margin: 0;
    color: grey;
    font-size: .8em;
}

.dropdown {
    width: 100%;
    border: 1px solid lightgray;
    height: 25px;
    color: grey;
    margin: 10px 0 0;
}

.dropdown:active,
.dropdown:focus {
    border: 1px solid grey;
}

.radio-label {
    color: grey;
}

.input-wrap {
    margin: 10px 0 0;
    font-size: .8em;
}

.button-conatainer {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 10px 12px;
}

.button-back {
    margin: 0 0 10px 0;
}

.button:not(:disabled) {
    background: #E73446;
    border: unset;
    color: white;
}

.button-text {
    padding: 0 5px;
}

.chevron {
    font-size: 24px;
    line-height: 0;
    position: relative;
    bottom: -2px;
}

@media only screen and (min-width: 481px) {
    .button-conatainer {
        justify-content: space-between;
        flex-direction: row;
    }

    .button-back {
        margin: 0;
    }
}